 <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
      <h2>Hey!</h2>
      <hr>
        <p>I'm Philippine-based Web Developer and Designer.</p>
        <p>I’ve finished an online Web Development course through <a href="https://careerfoundry.com">CareerFoundry</a> last month. I learned about HTML, CSS, JS and Ruby on Rails. I was able to create a portfolio (HTML, CSS and JS), blog and ecommerce website (Ruby on Rails). I’m still a beginner and I’m studying more. It has given me experience in time management, independent goal setting, and connecting virtually with my mentor and classmates.</p>
        <p>In addition to my technical training, my professional experience is centered around customer service. I have worked in demanding and multicultural environments.</p>
    </div><!--end of col-1 homepage_content-->

 <div class="col-2 homepage_content">
   <div class="col-sm-6 col-md-4" id="profile_pic">
  <%= image_tag("pic.jpg", size: "350", class: "img-responsive") %>
</div>
    </div><!--end of col-2 homepage_content-->


